.board-container{
    position: relative;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
    z-index: 1;
}

.svg-board {
    position: absolute;
    top: -8rem;
    left: -16rem;
}